# Part after ? is options for how mongo should behave
# retryWrites=true means if a write fails, mongo tries again automatically
# w=majority means a write only succeeds after most of the cluster has saved it
MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/?retryWrites=true&w=majority

# Secret used to sign the JWT
JWT_SECRET=a-long-random-string-not-committed